
.card-background-page {
    
      .div {
        position: relative;
        text-align: center;
        height: 150px;
      }
    
      

      .card-title {
        position: absolute;
        top: 37%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        
      }

      .title {
        position: absolute;
        top: 37%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        text-align: center;
      }
    }
    